{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

<!-- Start Page Banner -->
{% if breadcrumb %}
<div class="slider bg-navy-blue bg-scroll pos-rel breadcrumbs-page">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				{% for item in breadcrumb %}
					<li class="breadcrumb-item" >
						{% if item.url %}
							<a href="{{item.url}}"><i class="icofont-home"></i>{{item.text}}</a>
						{% else %}
							{{item.text}}
						{% endif %}
					</li>

					<li class="breadcrumb-item" >
						{% if item.url %}
							<a href="{{item.url}}">{{item.text}}</a>
						{% else %}
							{{item.text}}
						{% endif %}
					</li>
					<li class="breadcrumb-item active" aria-current="page" >
							<h2>{{item.text}}</h2>
					</li>
					
				{% endfor %}
			</ol>
		</nav>
	</div>
</div>
{% endif %}
<!-- End Page Banner -->
