<header class="fixed-top header-fullpage bordered-nav wow fadeInDown">
    <!-- Main Navigation Start -->
    <nav class="navbar navbar-expand-lg bg-transparent">
      <div class="container text-nowrap bdr-nav px-0">
	  
	    {{ page.header }}
        
      </div>
    </nav>
    <!-- Main Navigation End -->
</header>

<!-- Banner section start -->
{% if is_front %}
<div class="slider bg-navy-blue">
 {% else %}
  <div class="slider bg-navy-blue bg-scroll pos-rel breadcrumbs-page">
{% endif %}
	{{ page.banner }}
</div>
<!-- Banner section end -->

<!-- Main Body Content Start -->
<main id="body-content" style="overflow-y: inherit;">
	{{ page.content }}
</main>

<!-- Main Footer Start -->
<footer class="wide-tb-70 bg-light-gray pb-0">
<div class="container">
  <div class="row">

	{{ page.footer }}
	
  </div>
</div>  

<div class="copyright-wrap bg-navy-blue wide-tb-30">
  <div class="container">
	<div class="row text-md-left text-center">
	
		{{ page.footerbottom }}
	</div>
  </div>
</div>
</footer>
<!-- Main Footer End -->
