
 <header class="fixed-top header-fullpage bordered-nav wow fadeInDown">
         <!-- Mobile Menu & Search -->
            {{ page.header }}
    <!-- Main Navigation Start -->
    <nav class="navbar navbar-expand-lg bg-transparent">
      <div class="container text-nowrap bdr-nav px-0">
        <div class="d-flex mr-auto">
          <a class="navbar-brand rounded-bottom light-bg" href="index.html">
            <img src="images/fleet_logo.png" alt="">
          </a>
        </div>
        <!-- Toggle Button Start -->
        <button class="navbar-toggler x collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Toggle Button End -->
        <div class="col-lg-auto">
           <div class="collapse navbar-collapse" id="navbarCollapse" data-hover="dropdown" data-animations="slideInUp slideInUp slideInUp slideInUp">
            <div class="ml-auto pt-2">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-mob" href="index.html" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>                
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">                                          
                    </ul>
					</li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-mob" href="index-2.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shipping<i class="icofont-rounded-down"></i></a>
                    <ul class="dropdown-menu">                  
                      <li><a class="dropdown-item" href="#">Ship Quick & Simple</a></li>
                      <li><a class="dropdown-item" href="#">Domestic Courier Services</a></li>                  
                      <li><a class="dropdown-item" href="#">Cargo Services</a></li>
                      <li><a class="dropdown-item" href="#">Same Day Delivery</a></li>
                      <li><a class="dropdown-item" href="international-courier.html">International Courier</a></li>                  
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tracking</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-mob" href="index-2.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support<i class="icofont-rounded-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Customer Support</a></li>
                      <li><a class="dropdown-item" href="#">Escalation Matrix</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-mob" href="index-2.html" id="blog-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Enquiery<i class="icofont-rounded-down"></i></a>
                    
                    <ul class="dropdown-menu" aria-labelledby="blog-menu">
                      <li><a class="dropdown-item" href="#">Booking Information</a></li>
                      <li><a class="dropdown-item" href="#">Price</a></li>
                      <li><a class="dropdown-item" href="#">Enquiry</a></li>
                      <li><a class="dropdown-item" href="#">FAQ (Frequently Asked Question)</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-mob" href="index-2.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="search_home"><i class="icofont-search"></i></a>
                  </li>
              </ul>
              <!-- Main Navigation End -->
            </div>
          </div>        
        </div>
      </div>
    </nav>
    <!-- Main Navigation End -->
  </header>

<!-- Header / End -->

<!-- Content Wrapper
================================================== -->
  <main id="body-content" style="overflow-y: inherit;">
     {{ page.breadcrumb}}
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     {{ page.content}}
</main>
<!-- Content Wrapper / End -->
  <footer class="wide-tb-70 bg-light-gray pb-0">
    <div class="container">
      <div class="row">

        <!-- Column First -->
        <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">
          <div class="logo-footer">
            <img src="images/fleet_logo.png">
          </div>
          
		<p class="text-justify">We offers and consulting world class air freight forwarding, MIS, TAT, supply chain management to each and every reference docket carrying sensitive, speed and security for Delivery.</p>
		<p class="text-justify"> We have to pride and introduce digital consulting of courier and cargo service from top selecting courier and cargo company in India and international level. </p>
          <h3 class="footer-heading">We're Social</h3>
          <div class="social-icons">
              <a href="#"><i class="icofont-facebook"></i></a> 
              <a href="#"><i class="icofont-twitter"></i></a> 
              <a href="#"><i class="icofont-whatsapp"></i></a> 
              <a href="#"><i class="icofont-google-plus"></i></a> 
            </div>
        </div>
        <!-- Column First -->

        <!-- Column Second -->
        <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0.2s">
          <h3 class="footer-heading">Quick Navigation</h3>
          <div class="footer-widget-menu">
            <ul class="list-unstyled">
              <li><a href="index.html"><i class="icofont-simple-right"></i> <span>Home</span></a></li>
              <li><a href="#"><i class="icofont-simple-right"></i> <span>About us</span></a></li>
              <li><a href="#"><i class="icofont-simple-right"></i> <span>News</span></a></li>
              <li><a href="#"><i class="icofont-simple-right"></i> <span>Services</span></a></li>
              <li><a href="#"><i class="icofont-simple-right"></i> <span>Contacts</span></a></li>
              <li><a href="#"><i class="icofont-simple-right"></i> <span>Support</span></a></li>
            </ul>
          </div>
        </div>
        <!-- Column Second -->

        <!-- Column Third -->
        <div class="col-lg-3 col-md-12 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0.4s">
          <h3 class="footer-heading">Get In Touch</h3>
          <div class="footer-widget-contact">
            <div class="media mb-3">
              <i class="icofont-google-map mr-3"></i>
              <div class="media-body">Envato Pty Ltd, 13/2 Elizabeth St Melbourne VIC 3000, Australia</div>
            </div>
            <div class="media mb-3">
              <i class="icofont-smart-phone mr-3"></i>
              <div class="media-body">
                <div>+1 (408) 786 - 5117 </div>
                <div>+1 (408) 786 - 5227  </div>
              </div>
            </div>
            <div class="media mb-3">
              <i class="icofont-ui-email mr-3"></i>
              <div class="media-body">
                <div><a href="#">info@logzee.com</a></div>
                <div><a href="#">support@logzee-team.com</a></div>
              </div>
            </div>
            <div class="media mb-3">
              <i class="icofont-clock-time mr-3"></i>
              <div class="media-body">
                <div><strong>Mon - Fri</strong></div>
                <div>10:00 Am - 6:00 PM EST</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column Third -->
		
		<!-- Column Fourth -->
		<div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0.2s">
          <h3 class="footer-heading">Our Services</h3>
          <div class="footer-widget-menu">
            <ul class="list-unstyled">
              <li><a href="domestic-courier-services.html"><i class="icofont-double-right"></i> <span>Domestic Courier Services</span></a></li>
              <li><a href="cargo-services.html"><i class="icofont-double-right"></i> <span>Cargo Services</span></a></li>
              <li><a href="international-courier.html"><i class="icofont-double-right"></i> <span>International Courier Services</span></a></li>
              <li><a href="same-day-delivery.html"><i class="icofont-double-right"></i> <span>Same Day Delivery Services</span></a></li>
            </ul>
          </div>
        </div>
		<!-- Column Fourth -->
        
      </div>
    </div>  

    <div class="copyright-wrap bg-navy-blue wide-tb-30">
      <div class="container">
        <div class="row text-md-left text-center">
            <div class="col-sm-12 col-md-6 copyright-links">  
              <a href="#">Privacy Policy</a>   <span>|</span>   <a href="#">CONTACT</a>   <span>|</span>   <a href="#">FAQS</a>
            </div>
            <div class="col-sm-12 col-md-6 text-md-right text-center">
                  Designed by <a href="#" rel="nofollow">PrequbeDigital</a> © 2019 All Rights Reserved
            </div>
        </div>
      </div>
    </div>
  </footer>
<!-- Footer
================================================== -->
<!-- Footer / End -->
<!-- Footer Bottom / Start -->
{{ page.footer}}
{{ page.footerbottom }}