
                <div class="col-md-8 col-sm-12" id="contact-form">
                <h2 class="h2-md mb-4 fw-7 txt-blue">Please fill the details</h2>

                <div class="free-quote-form contact-page-option wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">                  
                <form {{ attributes }} class="rounded-field">
                <div class="form-row mb-4">
                  <div class="col">
                    {{ element.elements.name }}
                  </div>
                  <div class="col">
                    {{ element.elements.email }}
                  </div>
                </div>
                <div class="form-row mb-4">
                  <div class="col">
                    {{ element.elements.transport_type }}
                  </div>
                  <div class="col">
                    {{ element.elements.type_of_freight }}
                  </div>
                </div>
                <div class="form-row mb-4">
                  <div class="col">
                    {{ element.elements.message }}
                  </div>
                </div>
                <div class="form-row text-center">

                    {{ element.elements.contact_captcha }}
    
               <input type="submit" class="form-btn mx-auto btn-theme bg-orange" id="submit_btn" value="Submit Now">
			   </div>

                  {{ element.form_build_id }}
                  {{ element.form_id }}
                  {{ element.actions }}
                </form>                
                </div>


                </div>
                </div>
                </div>        
                </section>