<section class="wide-tb-100 p-0 bg-sky-blue home-welcome">
  <div class="container">
	<div class="row">

	   <!-- Icon Box 1 -->
	  <div class="col-md-4">   
		<a href="service-details.html">           
		  <div class="icon-box-with-img bg-orange">
			{{ content.field_image_background[0] }}
			<div class="text">
			  {{ content.field_image_background[0]['#item'].title }}
			</div>
		  </div>  
		</a>            
	  </div>
	  <!-- Icon Box 1 -->
	  <!-- Icon Box 1 -->
	  <div class="col-md-4"> 
		<a href="#">             
		  <div class="icon-box-with-img bg-orange">
			{{ content.field_image_background[1] }}              
			<div class="text">
			  {{ content.field_image_background[1]['#item'].title }}
			</div>
		  </div>   
		</a>           
	  </div>
	  <!-- Icon Box 1 -->

	  <!-- Icon Box 1 -->
	  <div class="col-md-4">   
		<a href="#">           
		  <div class="icon-box-with-img bg-orange">
			{{ content.field_image_background[2] }}
			<div class="text">
			  {{ content.field_image_background[2]['#item'].title }}
			</div>
		  </div>              
		</a>
	  </div>
	  <!-- Icon Box 1 -->

	</div>
  </div>
</section>
